<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Configurações de acesso ao Banco de Dados-->
    <add key="Servidor" value="localhost" />
    <add key="BancoDeDados" value="SwarmWebFramework" />
    <add key="Usuario" value="USR_Swarm" />
    <add key="Senha" value="$w@rm" />
    <!--1 - MySQL | 2 - SQL Server-->
    <add key="SGBD" value="2" />
    <!--Ambiente de desenvolvimento?-->
    <add key="Desenvolvimento" value="1" />
    <!--Configurações Físicas-->
    <add key="Mapeamento_Path" value="D:\Software\Swarm\Web.Framework\Web\_configs" />
    <add key="Avatar_Path" value="D:\Software\Swarm\Web.Framework\Web\_content\Upload\Avatar" />
    <!--Configurações WEB-->
    <add key="Avatar_WebPath" value="http://localhost:55749/Web/Content/Upload/Avatar/" />
    <!--Outras Configurações-->
    <add key="Avatar_Padrao" value="http://localhost:55749/Web/Content/Upload/Avatar/AvatarPadrao.png" />
  </appSettings>
</configuration>