@media screen, print
{
    *
    {
        margin: 0px;
    }

    html, body
    {
        background-color: White;
        height: 100%;
    }

    .Pagina
    {
        width: 100%;
        font-size: 12px;
        line-height: normal;
    }

    .Horizontal_Centro
    {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .Horizontal_Esquerda
    {
        text-align: left;
    }
    .Horizontal_Direita
    {
        text-align: right;
    }
    .Horizontal_Justificado
    {
        text-align: justify;
    }
    
    .Vertical_Centro
    {
        vertical-align: middle;
    }
    .Vertical_FundoConteudo
    {
        vertical-align: text-bottom;
    }
    
    .Dimensao_LarguraPadrao
    {
        width: 100%;
    }
    
    .Texto_10px
    {
        font-size: 10px;
    }
    
    .Bloco_Foto
    {
        border: solid 1px #BFBFBF;
        background-color: #E9E9E9;
        width: 50px;
        height: 56px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    div .Bloco_LadoaLado
    {
        float: left;
    }
    div .Bloco_LadoaLado_Fechar
    {
        clear: both;
    }
}
