@media screen, print
{
    * html
    {
        height: 100%;
    }
    
    form
    {
        min-height: 99.5%;
        position: relative;
    }
    
    #Pagina_Cabecalho
    {
        background-image: url(Images/topo_fundo.jpg);
        background-repeat: repeat-x;
        height: 80px;
    }
    
    #Pagina_BarradeMenu
    {
        /*background-color: #E8E8E8;*/
        background-color: #F1F1F1;
        height: 25px;
    }

    #Pagina_Conteudo
    {
        padding: 30px 10px 50px 10px;
    }

    #Pagina_Rodape
    {
        background-image: url(Images/rodape_fundo.jpg);
        background-repeat: repeat-x;
        height: 25px;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-top: 10px;
    }
    
    #Pagina_BlocoInformacoesUsuario
    {
        background-image: url(Images/topo_b_fundo.jpg);
        background-repeat: repeat-x;
    }
    #Pagina_BlocoInformacoesUsuario #Fundo_Esquerda
    {
        background-image: url(Images/topo_b_esq.jpg);
        width: 3px;
    }
    #Pagina_BlocoInformacoesUsuario #Fundo_Direita
    {
        background-image: url(Images/topo_b_dir.jpg);
        width: 3px;
    }
    
    .Formulario_CampoTexto
    {
        height: 18px;
        border: solid 1px #333333;
        background-color: #F5F5F5;
        font-size: 11px;
        vertical-align: middle;
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .Formulario_CaixaSelecao
    {
    }
    .Formulario_CaixaSelecao input[type="checkbox"], input[type="radio"]
    {
        height: 12px;
        margin-right: 4px;
        vertical-align: middle;
    }
    .Formulario_CaixaSelecao label
    {
        vertical-align: middle;
    }
    
    .Formulario_Botao
    {
        height: 20px;
        border: outset 1px #333333;
        background-color: #F5F5F5;
        font-weight: bold;
        min-width: 80px;
    }
}