<div>
    <table id="Pagina_BlocoInformacoesUsuario" class="Horizontal_Centro" style="width: 350px;
        height: 60px;">
        <tbody>
            <tr>
                <td id="Fundo_Esquerda">
                    &nbsp;
                </td>
                <td class="Horizontal_Esquerda">
                    #set($nomedoUsuario = $this.GetNomedoUsuario)
                    #if($nomedoUsuario == "")
                        #set($nomedoUsuario = "Visitante")
                    #end
                    <div>
                        <div class="Bloco_LadoaLado">
                            <div class="Bloco_Foto">
                                <img src="$this.GetAvatardoUsuarioURI" alt="" />
                            </div>
                        </div>
                        #set($saudacao = "Boa noite")
                        #if($this.IsMatutino)
                            #set($saudacao = "Bom dia")
                        #elseif($this.IsVespertino)
                            #set($saudacao = "Boa tarde")
                        #end
                        <div class="Bloco_LadoaLado" style="width: 285px; padding-left: 5px;">
                            <div>
                                ${saudacao},&nbsp;<b>$nomedoUsuario</b>.
                            </div>
                            #if($this.IsVisitante)
                            <div>
                                Para prosseguir &eacute; necess&aacute;rio que efetue sua autentica&ccedil;&atilde;o
                                no sistema.
                            </div>
                            <div style="padding-top: 5px;">
                                &nbsp;
                            </div>
                            #else
                            <div>
                                Seu &uacute;ltimo acesso foi em <b>21/11/2011 &agrave;s 22:50</b>.
                            </div>
                            <div style="padding-top: 5px;">
                                #set($espacamentoInicialEsquerda = "padding-left: 3px;")
                                #if($this.IsPossuiAmbienteDefinido)
                                #set($espacamentoInicialEsquerda = "")
                                <div class="Bloco_LadoaLado" style="margin-right: 15px; padding-left: 3px;">
                                    <img class="Vertical_FundoConteudo" src="./_content/Images/Icones/p_perfil.png" alt="" />&nbsp;<a href="$this.GetMeuPerfilURI">Perfil</a>
                                </div>
                                <div class="Bloco_LadoaLado" style="margin-right: 15px;">
                                    <img class="Vertical_FundoConteudo" src="./_content/Images/Icones/p_ambiente.png" alt="" />&nbsp;$this.GetEnvironment
                                #end
                                </div>                            
                                <div class="Bloco_LadoaLado Horizontal_Centro" style="${espacamentoInicialEsquerda}">
                                    <img class="Vertical_FundoConteudo" src="./_content/Images/Icones/p_logout.png" alt=""
                                        style="border: none;" />&nbsp;<a href="$this.GetLogoffURI">Sair</a>
                                </div>
                                <div class="Bloco_LadoaLado_Fechar">
                                    &nbsp;
                                </div>
                                #end
                            </div>
                        </div>
                        <div class="Bloco_LadoaLado_Fechar">
                        </div>
                    </div>
                </td>
                <td id="Fundo_Direita">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>
